<%= form_with model: [inform, inform.diagnostics.build] do |form| %>
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="form-group">
        <%= form.text_area :description, class: "form-control form-control-lg input" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <%= form.collection_select(:pss_code, diagcodes, :pss_code, :description, { prompt: 'Código PSS'}, { class: "form-control input" }) %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Agregar", class: "btn btn-primary mb-3" %>
  </div>
<% end %>