<div class="row">
	<div class="col-12 col-lg-8 mx-auto">
		<p>Este año en Patología Suescún, hemos llegado al paciente # <%= Patient.all.count %> de nuestra historia, y la cantidad de estudios que se han realizado es de <%= Study.all.count %>, que es lo que permite verificar nuestra experiencia.</p>
	</div>
</div>