<div class="row">
	<div class="col-12 col-lg-8 mx-auto">
		<p>Este año en Patología Suescún, hemos llegado al paciente # <%= Patient.all.count %> de nuestra historia, con una cantidad de <%= Study.all.count %> estudios realizados en los más de 35 años de existencia del laboratorio.</p>
		<h3 class="home">Tecnología y talento que cuidan tu salud</h3>
	</div>
</div>