<div class="container-fluid">
	<%= render partial: "home_logo" %>
	<%= render partial: "home_menu" %>
	<div class="row">
		<div class="col-8 col-lg-8 mx-auto">
      <p>En construcción</p>
		</div>
	</div>

</div>