<div class="contrainer">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>Preguntas Frecuentes</h1>
      <ul>
        <li>
          <strong>¿Qué es un recipiente?</strong>
          <p>
            Se le puede designar recipiente a un contenedor de cualquier material que traiga muestras biológicas. En PSS se marcan esos contenedores con el código del informe más una "R" con un consecutivo para saber en cuál de los recipientes llegó la muestra, ej. C21-23-R1 ó C21-12-R3. Cada recipiente tiene una descriopción que permite describir su estado.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>