<div class="container-fluid">
	<%= render partial: "home_logo" %>
	<%= render partial: "home_menu" %>
	<%= render partial: "home_stats" %>
	<div class="row">
		<div class="col-8 col-lg-8 mx-auto mt-3">
			<img src="<%= asset_path 'microscope2.JPG' %>" class="d-block w-100" alt="...">
		</div>
	</div>
</div>