<div class="contrainer">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>Ayuda para pantalla Paciente</h1>
      <h4>Creando un paciente nuevo <strong>SIN</strong> informe asociado</h4>
      <ul>
        <li>
          En el menú Pacientes, elija la opción <strong>Nuevo (sin informe)</strong> para crear un paciente que <strong>NO</strong> esté asociado a ningún informe. En general sólo se usará esta opción para corregir errores que se presenten en los procesos de matrícula de pacientes.
        </li>
      </ul>
      <h4>Creando el paciente desde el menú Matricular con un informe asociado</h4>
      <ul>
        <li>
          Hipodecos le proyecta el código de informe que será asociado al paciente para su revisión. Ej. C21-45, o H21-12, o K21-345.
        </li>
        <li>
          Escriba el número de identificación del paciente en el campo <strong># identificación</strong> y oprima <strong>ENTER (también puede hacer clic en Buscar/Matricular)</strong> para determinar si ya se tiene información de éste. En caso de que no sea así, Hipodecos le permitirá crear un paciente con ese número de identificación. <strong>No es posible crear un paciente con números de identificación repetidos.</strong>
        </li>
      </ul>
      <h4>Creando el paciente desde el campo de búsqueda por # identificación</h4>
      <ul>
        <li>Haciendo clic en el menú Matricular o en el menú Pacientes (con un rango de tiempo asociado), aparece en la pantalla la opción Buscar por # identificación. Basta dar clic en Buscar/Matricular sin una identificación para que Hipodecos le permita crear un paciente <strong>con un informe asociado</strong> a ese paciente. También es posible proveer un # de identificación que al existir en el sistema, permite asociar un informe nuevo a ese paciente.</li>
      </ul>
    </div>
  </div>
</div>