<div class="contrainer">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>Preguntas Frecuentes para pantalla Pacientes</h1>
      <ul>
        <li>
          <strong>¿Por qué 3 cuadros de búsqueda?</strong>
          <p>Por el momento tenemos 3 acciones levemente diferentes para buscar pacientes.</p>
          <ol>
            <li>Búsqueda de pacientes con informes entre fechas específicas</li>
            <li>Búsqueda de pacientes por nombres y apellidos: Puede especificarse solo un nombre e Hipodecos buscará pacientes con ese nombre tanto en el primero como en el segundo nombre. En el caso de los apellidos, Hipodecos buscará por el primer apellido, si solo especifica uno, o buscará por los dos apellidos en ese orden si especifica los dos.</li>
            <li>El # de identificación buscará el paciente por ese dato, dándo de una vez la opción de crear un informe para ese paciente si es que es encontrado. En caso de no encontrarlo, permite la creación de un nuevo paciente. Si se llega desde Matrícula, Hipodecos también asignará automáticamente un código de informe que Ud. puede observar en la parte superior de la pantalla.</li>
          </ol>
        </li>
        <li><strong>¿Qué son los hipevínculos en las cédulas y los códigos de informe?</strong><p>Estos hipervínculos te permiten llegar rápidamente a la información del paciente con esa cédula o te llevan directamente al informe con ese código.</p></li>
      </ul>
    </div>
  </div>
</div>