<div class="container-fluid">
	<%= render partial: "home_logo" %>
	<%= render partial: "home_menu" %>
	<div class="row">
		<div class="col-12 col-lg-8 mx-auto">
			<p>En construcción.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-4 offset-2 mt-3">
			<img src="<%= asset_path 'micro2.JPG' %>" class="d-block w-100" alt="...">
		</div>
		<div class="col-12 col-lg-4 mt-3">
			<h4 class="services">Servicios</h4>
			<ul>
				<li>Queremos compartir la información científica que Patología Suescún ha acumulado en años de arduo trabajo.</li>
				
			</ul>
		</div>
	</div>
</div>