<div class="container-fluid">
	<div class="row">
		<div class="col-8 col-lg-8 mx-auto">
			<h1>Bienvenido <%= current_user.first_name %> a Hipodecos</h1>
			<p>Estas en el módulo de administradores de la aplicación. Puedes iniciar a trabajar con las configuraciones ya.</p>
			<p>Feliz jornada!</p>
		</div>
	</div>
</div>