<div class="container-fluid">
	<div class="row">
		<div class="col-8 col-lg-8 mx-auto">
			<h1>Bienvenido <%= current_user.first_name %> a Hipodecos</h1>
			<p>Estas en el módulo de usuarios de la aplicación y ya puedes empezar a colaborar.</p>
			<p>Feliz jornada!</p>
		</div>
	</div>
</div>