<div class="alert alert-success alert-dismissible show alert-growl" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
	Muestra creada exitosamente!

</div>