<div class="row">
  <div class="col-12 col-lg-12 mb-3 mx-auto">
    <div class="list-block">
      <%= render partial: "control-board", locals: { blocks: @blocks, samplesc: @samplesc, edit_objection_id: nil } %>
    </div>
  </div>
</div>