<div class="row">
  <div class="col-12 col-lg-12 mb-3 mx-auto">
    <div class="list-slide">
      <%= render partial: "list-slides", locals: { informs: @informs, edit_slide_id: nil, edit_objection_id: nil } %>
    </div>
  </div>
</div>
