<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%= form_with(model: micro, local: true) do |form| %>

        <div class="form-group">
          <%= form.label "Descripción" %>
          <%= form.text_area :description, class: "form-control input" %>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>