<h4>Agregar descripción micro manual</h4>
<%= form_with model: [inform, inform.micros.build], local: false do |form| %>
  <div class="form-group">
    <%= form.text_area :description, class: "form-control" %>
  </div>
  
  <div class="actions">
    <%= form.submit "Agregar", class: "btn btn-primary mb-3" %>
  </div>
<% end %>