<div class="container">
  <div class="row">
    <div class="col-4 col-lg-4 col-xl-4 mx-auto">

		<h1>Nuevo Automático</h1>

		<%= render 'form', automatic: @automatic %>

		<%= link_to 'Volver a Automaticos', automatics_path %>

    </div>
  </div>
</div>
