<div class="inclusion-blocks">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        
         
          <div class="row">
            

              <% a.each do |col| %>
                <div class="col-12 col-lg-3 col-xl-2">
                  <table class="table table-hover list-blocks">
                    <thead>
                    </thead>
                    <tbody>
                      <% col.each do |block| %>
                        <!-- <tr>
                          <td class="m-0 p-0"><%= block.block_tag %></td>
                        </tr> -->
                        <% sample = samplesc.where(sample_tag: block.block_tag, name: "Cassette").first %>
                        <%= render partial: "inclusion_blocks/row", locals: { block: block, sample: sample } %>
                        
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>

            
          </div>

      </div>
    </div>
  </div>
</div>