<div class="d-flex align-items-center">

  <%= link_to " - ", block_fm1_inclusion_block_path(block, sample_id: sample.id), remote: true, class: "btn btn-outline-danger btn-sm" %>

  <%= link_to " + ", block_fp1_inclusion_block_path(block, sample_id: sample.id), remote: true, class: "btn btn-outline-primary btn-sm" %>

</div>