<h4>Bloques <%= search_range %></h4>
<div class="row">
  <div class="col-12 col-lg-12 mb-3 mx-auto">
    <div class="inclusion-block">
      <%= render partial: "control-board2", locals: { inclusion: @inclusion } %>
    </div>
  </div>
</div>