<!-- Modal -->

<div class="modal fade bd-example-modal-xl" id="autosMacroModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Automáticos para Macro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
              
                <% Organ.all.each do |organ| %>
                  <div class="d-flex flex-wrap">
                    <% Automatic.where(organ: organ.organ, auto_type: 'macro').each do |automatic| %>

                      <%= form_with url: execute_templates_create_path, method: "get" do |form| %>
                        <div class="actions">
                          <%= form.submit automatic.title, class: "organ-#{Organ.where(organ: automatic.organ).first.part.gsub(/\s+/, '')} mb-2" %>
                          <%= form.hidden_field :inform_id, value: inform.id %>
                          <%= form.hidden_field :automatic, value: automatic.id %>
                        </div>
                      <% end %>

                    <% end %>
                  </div>

                <% end %>

                

                
            </div>


          </div>
        </div>
        
      </div>




      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>