<div class="slides">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">

        <div class="card-deck">
          <% inform.slides.each do |slide| %>
            <% if slide.slide_tag != nil %> <!-- Hay instancias no en DB por las form de las Samples, solo listo las que tengan tag -->
              <div class="col-12 col-lg-2 col-xl-2 card-in">
                <div class="card">
                  <div class="card-header" style="background-color: rgba(255,150,255,0.3)">
                    <%= slide.slide_tag %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    
                    <% Sample.where(inform_id: inform.id, slide_tag: slide.slide_tag).each do |sample| %>
                      <strong><%= sample.sample_tag %></strong>
                      <p><%= sample.description %></p>
                    <% end %>
                    
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
