<!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      
        <div class="row">
          <div class="col-12 col-lg-12 my-3">
            <%= render partial: "inform" %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-lg-12 mb-3 mx-auto">
            <div class="recipient">
              <!-- <h1>Recipientes</h1> -->
              <%= render partial: "recipients", locals: { inform: @inform, edit_sample_tag: "" } %>
            </div>
          </div>
        </div>

    </div>
  </div>
<!-- </div> -->