<div class="row">
  <div class="col-12 col-lg-6 mx-auto">

  	<h1>Editar código de diagnóstico</h1>

  	<%= render 'form', diagcode: @diagcode %>

  	<%= link_to 'Show', @diagcode %> |
  	<%= link_to 'Back', diagcodes_path %>

  </div>
</div>
