<div class="container-fluid">
	<div class="row">
	  <div class="col-12 col-lg-6">
	    <h1>Nuevo código de diagnóstico</h1>
	    <p>Esto es un catálogo con una nomenclatura Letra. Número. Letra. Número. etc. Por favor ingrese cada campo con la nomenclatura adecuada según la ejemplificación.</p>
	    <p>Puedes usar el catálogo de la derecha para guiarte.</p>

	    <%= render 'form', diagcode: @diagcode %>

	    <%= link_to 'Volver al listado', diagcodes_path %>
	  </div>
	  <div class="col-12 col-lg-6">
	  	<iframe src="<%= diagcodes_path %>" width="100%" height="500" ></iframe>
	  </div>
	</div>
</div>
