<div class="row">
  <div class="col-12 col-lg-6 mx-auto">
    <h1>Nuevo código de diagnóstico</h1>

    <%= render 'form', diagcode: @diagcode %>

    <%= link_to 'Volver al listado', diagcodes_path %>
  </div>
</div>

