<h1>Editar Doctor</h1>

<%= render 'form', physician: @physician %>

<%= link_to 'Cancelar y volver al informe ' + @physician.inform.tag_code , inform_path(@physician.inform) %> | <%= link_to 'Regresar a informes', informs_path %>