<div class="container">
  <div class="row">
    <div class="col-8 col-lg-8 mx-auto">

		<h1>Agregar doctor para informe <%= Inform.find(params[:inform_id]).tag_code %></h1>

		<%= render 'form', physician: @physician %>

    </div>
  </div>
</div>