<h1>Editando tabla de costos</h1>

<%= render 'form', cost: @cost %>

<%= link_to 'Cancelar y volver a tabla de costos ' + @cost.name, @cost %> |
<%= link_to 'Volver a tablas de costos', costs_path %>
