<div class="alert alert-danger alert-dismissible show alert-growl" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
	Error en la creación de bloques!

</div>