<%= link_to 'Volver al informe', inform_path(@inf) %>

<h1>Edición de estudio (CUPS)</h1>

<%= render 'form', study: @study %>

<%= render partial: "objections/objections_list", locals: { objectionable: @study } %>