<div class="container">
	<h1>Edición de paciente</h1>

	<%= render 'form', patient: @patient, action: 'edit' %>

	<%= link_to 'Regresar al paciente', @patient %> |
	<%= link_to 'Ver todos los pacientes', patients_path %>
</div>

