<div class="container">
	<div class="row">
		<div class="col-12 col-lg-4">
			<h1>Edición de municipio</h1>

			<%= render 'form', municipality: @municipality %>

			<%= link_to 'Detalles', @municipality %> |
			<%= link_to 'Volver', municipalities_path %>

		</div>
	</div>
</div>
