/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "static_pages";

body {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  margin-top: 150px;
}

.navbar {
  img { width: 37px; }
}

.navbar.superior {
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0px;
	left: 0px;
}

.navbar.inferior {
	/*position: fixed;*/
	margin-top: 50px;
	/*left: 0px;*/
	z-index: 95;
	/*width: 100%;*/
}

#info {
	position: fixed;
	top: 96px;
	z-index: 90;
	width: 100%;
	background-color: rgb(246,247,249);
	/*border: 1px solid black;*/
	/*border-radius: 5px;*/
	/*margin: 0px;*/
	/*padding: 0px;*/
	margin-left: 1px;
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
}

.inform {
	padding-left: 15px;
	padding-right: 15px;
}
/*
.recipient {
	margin-top: 300px;
}*/

h2.edit-user {
	text-align: center;
}

/*.objection {
	color: red;
}*/

.diagnostics {
	font-size: 10px;
}

.alert-growl {
  position: fixed;
  top: 70px;
  right: 20px;
  /*width: 300px;*/
  max-width: 500px;
  z-index: 200;
}

input.organ-Circulatorio {
	background-color: rgba(255,0,0,0.3);
	color: red;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}

}

input.organ-Linfatico {
	background-color: white;
	color: black;
	border-radius: 3px;
	border-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Respiratorio {
	background-color: rgba(0,0,255,0.3);
	color: slateblue;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-ReticuloEndotelial {
	background-color: rgba(255,0,255,0.3);
	color: brown;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Digestivo {
	background-color: rgba(255,255,0,0.3);
	color: orange;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Urinario {
	background-color: rgba(255,150,0,0.3);
	color: tomato;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-GenitalMasculino {
	background-color: rgba(0,0,255,0.3);
	color: blue;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-GenitalFemenino {
	background-color: rgba(255,150,255,0.6);
	color: purple;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Endocrino {
	background-color: rgba(0,0,255,0.1);
	color: dodgerblue;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Nervioso {
	background-color: rgba(0,255,0,0.3);
	color: green;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Sentidos {
	background-color: rgba(255,255,0,0.6);
	color: rgba(100,100,100,1);
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Piel {
	background-color: pink;
	color: grey;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Musculo {
	background-color: rgba(255,150,0,0.3);
	color: tomato;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Osteoarticular {
	background-color: rgba(0,0,0,0.3);
	color: black;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Dientes {
	background-color: rgba(0,0,0,0.4);
	color: white;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-SIDA {
	background-color: rgba(255,150,255,0.3);
	color: purple;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

input.organ-Generales {
	background-color: rgba(0,255,0,0.3);
	color: mediumseagreen;
	border-radius: 3px;
	border-style: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 2px;
	&:hover, &:focus {
		color: black;
		text-decoration: none;
	}
}

span.objection-description {
	font-size: 14px;
}

tr.inclusion-inform {
	font-size: 12px;
	max-height: 12px;
}

td.slide-colored {
	background-color: rgba(255,150,255,0.3);
	color: gray;
}

td.slide-covered {
	background-color: rgba(255,150,255,0.5);
}

td.slide-tagged {
	color: black;
	font-style: bold;
}

