<div class="container">
  <div class="row">
    <div class="col-4 col-lg-4 col-xl-4 mx-auto">
		<h1>Nuevo órgano</h1>

		<%= render 'form', organ: @organ %>

		<%= link_to 'Back', organs_path %>
    </div>
  </div>
</div>