<h1>Editar tarifa</h1>
<p>Se permite la edición para hacer cambios ANTES de usar una tarifa. Una vez la tarifa es usada, cada CUP adopta el costo y la tarifa que había en el momento de su creación. Por lo tanto, al hacer el cambio, los nuevos CUP creados adoptan el cambio, pero lo ya hechos quedan como estan.</p>

<%= render 'form', rate: @rate %>

<%= link_to 'Show', @rate %> |
<%= link_to 'Back', rates_path %>
