<div class="container">
	<div class="row">
		<div class="col-12 col-lg-10 col-xl-10 mx-auto">
			<div class="jumbotron">
			  <h1 class="display-4">Módulo de reportes de Hipodecos</h1>
			  <p class="lead">Puedes inciar consulta del estado de informes, calidad y ventas.</p>
			  <hr class="my-4">
			  <p>Cada menú contiene filtros predeterminados de tiempo para sacar los reportes más rápido.</p>
			  <a class="btn btn-primary btn-sm" href="/" role="button">Volver a Inicio</a>
			</div>
		</div>
	</div>
</div>
