<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-3 mt-3 to_right">
        <small>Isabela-Hipodecos, desarrollada en Ruby on Rails por: Eric Suescun y David Suescún</small>
      </div>
    </div>
  </div>
</footer>